body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 200px;
}

button :hover {
    background-color: #0056b3;
}

#mensaje {
    font-weight: bold;
    margin-top: 10px;
}

#timeline {
    margin-top: 20px;
    font-size: 18px;
}